<!-- Animated Brand Loader Page Overlay -->
<div id="appLoader" class="app-loader">
  <div class="loader-backdrop-glow"></div>
  <div class="loader-content">
    <div class="logo-wrapper-loader">
      <svg class="loader-svg-ring" viewBox="0 0 200 200">
        <path class="draw-path-1" d="M 100,10 C 160,8 192,50 188,105 C 184,160 145,190 95,188 C 40,185 10,145 12,90 C 15,35 50,12 100,10 Z" />
        <path class="draw-path-2" d="M 105,15 C 155,18 185,55 180,100 C 175,150 140,182 90,180 C 45,178 18,140 20,95 C 22,42 60,13 105,15 Z" />
      </svg>
      <img src="/logo.png" alt="Get Jakes Logo" class="loader-logo-img">
    </div>
    
    <div class="loader-text-group">
      <h1 class="loader-title">Get Jakes</h1>
      <p class="loader-subtitle">CAKE PROPS & TOPPERS</p>
    </div>

    <div class="loader-progress-box">
      <div class="loader-bar-bg">
        <div id="loaderProgressBar" class="loader-bar-fill"></div>
      </div>
      <div class="loader-status">
        <span id="loaderStatusText">Crafting studio experience...</span>
        <span id="loaderPercent">0%</span>
      </div>
    </div>
  </div>
</div>
